@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

main{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-left:57px;
    margin-right:57px;
    margin-bottom:57px;
    margin-top:38px;
    line-height:10px;
    align-content:center;
}

#leftColumn{
    float:left;
    width:50%;
}

#rightColumn{
    float:right;
    width:50%;
}

.mainTitle{
    font-size:52px;
    font-family:"Merriweather", serif;
    float:right;
}

.subTitle{
    font-weight:lighter;
    font-size:20px;
    font-family:"Open Sans", sans-serif;
    float:right;
    margin:auto;
    width:61%;
}

img{
    height:250px;
    width:190px;
    float:left;
    margin-left:100px;
}

#leftText{
    right:52%;
    margin-right:auto;
    margin-top:100px;
    position:absolute;
    float:right;
}

#rightText{
    left:52%;
    margin-left:72px;
    margin-top:252px;
    position:absolute;
    float:left;    
}

.division{
    line-height:15px;
    font-family:"Open Sans", sans-serif;   
    font-weight:bolder;     
    color:blue;
}

.foundation{
    font-weight:bold;
}

.degree{
    font-style:italic;
}

.period{
    font-family:"Open Sans", sans-serif;
    font-size:12px;
    color: rgba(58, 58, 56, 0.9);
    line-height:5px;
}

.text{
    color: rgba(58, 58, 56, 0.9);    
}