@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

main{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-left:15%;
    margin-right:15%;
    margin-bottom:6%;
    margin-top:3%;
    line-height:50%;
    align-content:center;
    display:flex;
    flex-direction:row;
}

#leftColumn{
    width:50%;
    display:flex;
    flex-direction:column;
    margin:5%;
}

#rightColumn{
    width:50%;
    display:flex;
    flex-direction:column;
    margin:5%;
}

.title{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-left:5%
    font-size:100%;
    width:125%;
    height:20%;
}

.mainTitle{
    font-size:330%;
    font-family:"Merriweather", serif;
}

.subTitle{
    font-weight:lighter;
    font-size:115%;
    font-family:"Open Sans", sans-serif;
}

img{
    height:100%;
    width:50%;
    margin-left:25%;
}

.division{
    line-height:100%;
    font-family:"Open Sans", sans-serif;   
    font-weight:bolder;     
    color:blue;
}

.foundation{
    font-weight:bold;
}

.degree{
    font-style:italic;
}

.period{
    font-family:"Open Sans", sans-serif;
    font-size:70%;
    color: rgba(58, 58, 56, 0.9);
    line-height:5%;
}

.text{
    color: rgba(58, 58, 56, 0.9);    
}

@media(max-width: 768px){
    #leftColumn, #rightColumn{
        width:100%;
        float:none;
        font-size:35%;
    }

    #leftText, #rightText{
        margin:0;
        float:none;
    }

}

